.responsive-col-height {
  height: min-content;
}

.responsive-row-height {
  flex-grow: 1;
  flex-direction: column;
}

@media only screen and (min-width: 769px) { /* Devices 769px and up */
  .responsive-col-height {
      height: 100vh;
  }

  .responsive-row-height{
    flex-direction: row;
  }
}